[project]
	description = An side scroller tiny example using metroid char and some mario tiles, just for education.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Rafael Munhoz (munhra)
[access "refs/for/refs/*"]
	read = group user/Rafael Munhoz (munhra)
	push = group user/Rafael Munhoz (munhra)
	label-Code-Review = -2..+2 group user/Rafael Munhoz (munhra)
	label-Verified = -1..+1 group user/Rafael Munhoz (munhra)
	rebase = group user/Rafael Munhoz (munhra)
	removeReviewer = group user/Rafael Munhoz (munhra)
	submit = group user/Rafael Munhoz (munhra)
[access "refs/heads/*"]
	read = group user/Rafael Munhoz (munhra)
	create = group user/Rafael Munhoz (munhra)
	push = +force group user/Rafael Munhoz (munhra)
	pushMerge = group user/Rafael Munhoz (munhra)
[access "refs/tags/*"]
	push = +force group user/Rafael Munhoz (munhra)
	pushTag = group user/Rafael Munhoz (munhra)
	pushSignedTag = group user/Rafael Munhoz (munhra)
