<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>jump1.png</key>
		<dict>
			<key>frame</key>
			<string>{{36,2},{18,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,25}}</string>
			<key>sourceSize</key>
			<string>{18,25}</string>
		</dict>
		<key>jump2.png</key>
		<dict>
			<key>frame</key>
			<string>{{36,38},{14,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,23}}</string>
			<key>sourceSize</key>
			<string>{14,23}</string>
		</dict>
		<key>jump3.png</key>
		<dict>
			<key>frame</key>
			<string>{{35,71},{19,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,15}}</string>
			<key>sourceSize</key>
			<string>{19,15}</string>
		</dict>
		<key>jump4.png</key>
		<dict>
			<key>frame</key>
			<string>{{36,22},{14,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,23}}</string>
			<key>sourceSize</key>
			<string>{14,23}</string>
		</dict>
		<key>jump5.png</key>
		<dict>
			<key>frame</key>
			<string>{{36,54},{19,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,15}}</string>
			<key>sourceSize</key>
			<string>{19,15}</string>
		</dict>
		<key>shoot1.png</key>
		<dict>
			<key>frame</key>
			<string>{{57,54},{4,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{4,5}}</string>
			<key>sourceSize</key>
			<string>{4,5}</string>
		</dict>
		<key>shoot2.png</key>
		<dict>
			<key>frame</key>
			<string>{{12,81},{7,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,8}}</string>
			<key>sourceSize</key>
			<string>{7,8}</string>
		</dict>
		<key>shoot3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,81},{8,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,8}}</string>
			<key>sourceSize</key>
			<string>{8,8}</string>
		</dict>
		<key>walk1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,25},{18,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,32}}</string>
			<key>sourceSize</key>
			<string>{18,32}</string>
		</dict>
		<key>walk2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,64},{15,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,31}}</string>
			<key>sourceSize</key>
			<string>{15,31}</string>
		</dict>
		<key>walk3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,45},{17,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,32}}</string>
			<key>sourceSize</key>
			<string>{17,32}</string>
		</dict>
		<key>walk4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{21,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,32}}</string>
			<key>sourceSize</key>
			<string>{21,32}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>playerSheet.png</string>
		<key>size</key>
		<string>{64,128}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:5208cd09cfcf306df05076c4c0360743$</string>
		<key>textureFileName</key>
		<string>playerSheet.png</string>
	</dict>
</dict>
</plist>
